/********************/
/* Simple Accordion */
/********************/

/* Accordion */
.s_accordion {
	margin-bottom: 10px;
}

/* Accordion Control */
.s_accordion__control {
	position: relative;
	padding: 15px;
	border: 1px solid #ddd;
	background-color: #efefef;
	font-size: 18px;
	font-weight: 700;
}

.s_accordion__control:not(:first-child) {
	margin-top: 10px;
}

.s_accordion__control:hover,
.s_accordion__control:active {
	border-color: #d0d0d0;
	background-color: #e2e2e2;
}

.s_accordion__control:hover{
	cursor: pointer;
}

/* Plus and Minus Signs */
.s_accordion__control > span {
	position: absolute;
	top: 50%;
	right: 25px;
	transform: translateY(-50%);
	font-size: 18px;
}

/* Plus */
.s_accordion__control > span::after {
	content: '\002B';
}

/* Minus */
.s_accordion__control.active > span::after {
	content: '\002D';
	font-size: 30px;
}

/* Accordion Panel */
.s_accordion__panel {
	display: none;
	margin-bottom: 10px;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #ddd;
	padding: 20px;
}
